<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lista wpisów pacjenta</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
<h2>Lista wpisów pacjenta</h2><br>
<table id="entriesList">
    <thead >
    <tr>
        <td style="width: 200px;">Data i godzina</td>
        <td style="width: 200px;">Lekarz</td>
        <td style="width: 200px;">Typ wizyty</td>
        <td style="width: 80px;">Opcje</td>
    </tr>
    </thead>
    <tbody id="tbodyEntries">
    </tbody>
</table>
<br>
<!--<a href="entry-edit.html"><button id="addNewEntry">Dodaj nowy wpis</button></a>-->
<script src="entry-list.js"></script>
</body>
</html>