<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3>Welcome to EskulapSnake Application</h3>
<div sec:authorize="isAnonymous()">
    <h4>Please use button bellow to log in </h4>
    <button  type="button" onclick="location.href='/login'">Log in</button>
</div>
<div sec:authorize="isFullyAuthenticated()">
    You are logged as: <p sec:authentication="name"></p>
    Your roles: <p sec:authentication="principal.authorities"></p>
    <button type="button" onclick="location.href='/logout'">Log out</button>
</div>
<div sec:authorize="hasRole('ADMIN') or hasRole('RECORDER')"  >
    You are logged as: <p sec:authentication="name"></p>
    Your roles: <p sec:authentication="principal.authorities"></p>

    <button type="button" onclick="location.href='/logout'">Log out</button>
    <button type="button" onclick="location.href='/recorder'">Schedule visit</button>
</div>
</body>
</html>