<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MedicalRecorder</title>


</head>
<body>
<form autocomplete="off" id="findPatientsForm">
    <label for="findText">Find Patient by part of date</label><br>
    <input type="text" id="findText">
    <input type="submit" value="Refresh">
</form>
<br>

<form autocomplete="off" id="addEntry">
    <select id="patientsList" size="10"></select>
<datalist id="employeesDataList">
</datalist>

    <input type="submit" value="Refresh">
</form>

<script src="recorderScript.js"></script>
</body>
</html>
