button{
    background-color: rgba(30, 144, 255, 0.7);
    width: 100px;
    margin: 2px;
}

#filterBtn, #addNewEntry, #entryEditBtn {
    background-color: rgba(30, 144, 255, 0.7);
    width: 100px;
    margin: 10px;
}

#entrySaveBtn {
    background-color: rgba(30, 144, 255, 0.7);
    width: 100px;
    margin: 10px;
}

table, tr{
    border: 1px solid black;
    border-collapse: collapse;
}

thead{
    background-color: rgba(136, 136, 136, 0.34);
    font-size: 18px;
    font-weight: bold;
}

