<!DOCTYPE html>
<html lang="en"

      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <title>Timetable</title>


</head>


<body>
<link rel="icon" href="data:;base64,iVBORw0KGgo=">
<button type="button" onclick="location.href='/logout'">Log out</button>

<br>

<form autocomplete="off" id="addWorkDay">
    <br>
    <span >Select employee:</span>
    <select  id="employeesSelect"></select>
    <br>

</form>
<br>
<div>
    <div style="float: left; text-align: center">
        <h3>Month</h3>
        <form>
            <input type="button" id="minusMonth" , value="-">
            <input type="text" , id="monthField" disabled size="1 px" style=" text-align:  center">
            <input type="button" id="plusMonth" , value="+">
        </form>

    </div>
    <div style="float: left; text-align: center">
        <h1 style="text-align: center">Calendar</h1>
    </div>
    <div style="float:  left; text-align: center">
        <h3>Year</h3>
        <form>
            <input type="button" id="minusYear" , value="-">
            <input type="text" , id="yearField" disabled size="2 px" style="text-align: center">
            <input type="button" id="plusYear" , value="+">
        </form>
    </div>
</div>
<div>
    Day
    <select id="daySelect"></select>
    Hour from
    <select id="hourFromSelect"></select>
    Hour to
    <select id="hourToSelect"></select>
</div>
<br>
<br>
<div style="clear: both;">
    <button id="postWorkDayButton"><h2>Add work day</h2></button>
</div>
<div style="clear: both;"></div>
<table border="1">
    <thead>
    <tr>
        <th> Mo</th>
        <th> Tue</th>
        <th> Wed</th>
        <th> Thu</th>
        <th> Fri</th>
        <th> Sat</th>
        <th> Sun</th>
    </tr>
    </thead>
    <tbody>

    </tbody>
</table>

<script src="timetableScript.js"></script>

</body>
</html>
